name: build
on:
  push:
    branches:
    - main
  pull_request:
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    container:
      image: rancher/dapper:v0.6.0
    steps:
    # Git is not in Dapper container image. Add it manually for dirty check.
    - name: Add Git
      run: apk add -U git
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Run dapper ci
      run: dapper ci
